# Must create a .env file in the root directory of the project with the following content:
DATABASE_URL=mssql+pyodbc://@YOUR_SERVER\SQLEXPRESS/library_db?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes
TEST_DATABASE_URL=mssql+pyodbc://@YOUR_SERVER\SQLEXPRESS/library_db_test?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes
SA_PASSWORD=AStrongPassword123!
SECRET_KEY=supersecretkey1234567890
REDIS_HOST=localhost
REDIS_PORT=6379
